body {
    background-color: #202124;
}

.sign_in_btn {
    padding: 10px 12px;
    margin: 14px 18px 12px -20px;
    min-width: 85px;
}

.top-bar {
    background-color: #202124;
}

.nav-right-items {
    padding: 10px 12px;
    margin-top: 14px;
}

.pfp {
    width: 60px;
    height: auto;
    margin-top: -25px;
    margin-right: 100px;
    border-radius: 40px;
}

.logo {
    margin-top: 10px;
    width: 100px;
    height: auto;
}

.game-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.word-button {
    flex: 1;
    margin: 0 10px;
    padding: 40px;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #007bff;
    color: #fff;
}
.word-button.correct {
    background-color: #28a745;
    color: white;
}
.word-button.wrong {
    background-color: #dc3545;
    color: white;
}
.word-button.tie {
    background-color: #ffc107;
    color: black;
}
.word-button:hover {
    opacity: 0.9;
}
.search-count {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ccc;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    width: auto;
    min-width: 150px;
    padding: 15px;
    margin-top: 10px;
    transform: translateX(-85%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}
.dropdown a {
    display: block;
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    text-decoration: none;
    color: white;
    background-color: #ff5733;
    border-radius: 5px;
    border: none;
}

.dropdown a:hover {
    background-color: #e14d2a;
}
.pfp-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.container {
  position: relative;
  width: 100%;
  text-align: center;
}

.line {
  position: relative;
  width: 1900px;
  height: 9px; 
  background-color: white;
  margin: 0 auto;
  margin-bottom: 50px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: white;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle h1 {
  margin: 0;
  font-size: 50px; /* Adjust text size */
  color: black; /* Text color */
}
