body {
    background-color: #202124;
}

.nav_buttons {
    padding: 10px 10px;
    margin: 14px 10px 12px -10px;
    min-width: 85px;
    border-radius: 10px;
}

.nav-right-items {
    padding: 10px 12px;
    margin-top: 14px;
}

.pfp {
    width: 60px;
    height: auto;
    margin-top: 25px;
    margin-left: -15px;
    border-radius: 40px;
}
