body {
    background-color: #202124;
}

.sign_in_btn {
    padding: 10px 12px;
    margin: 14px 18px 12px -20px;
    min-width: 85px;
}

.nav-right-items {
    padding: 10px 12px;
    margin-top: 14px;
}

.pfp {
    width: 60px;
    height: auto;
    margin-top: 25px;
    margin-left: -15px;
    border-radius: 40px;
}
