body {
    background-color: #202124;
}

.sign_in_btn {
    padding: 10px 12px;
    margin: 14px 18px 12px -20px;
    min-width: 85px;
}

.nav-right-items {
    padding: 10px 12px;
    margin-top: 14px;
}

.logo {
    width: 700px;
    height: auto;
    margin-top: 100px;
}

.search-container {
    margin-top: 10px;
}

.more {
    width: 40px;
    height: auto;
    margin-top: 2px;
    margin-left: -10px;
}

.pfp {
    width: 60px;
    height: auto;
    margin-top: 25px;
    margin-left: -15px;
    border-radius: 40px;
}

.pfpInside {
    width: 100px;
    height: auto;
    margin-top: 25px;
    margin-left: 175px;
    border-radius: 40px;
}

.dropdown-menu2 h3 {
    margin-top: 10px;
    text-align: center;
}

.filter {
    width: 70px;
    height: auto;
    margin-left: -20px;
}
