<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/game.css')}}"/>
    <title>Game</title>
</head>
<body>
  <nav class="navbar">
    <div class="top-bar">
      <div class="top-bar-left">
        <a href="{{url_for('landing')}}">
          <img src="/static/UpoNah2.png" alt="logo" class="logo">
        </a>
      </div>
      {% if logged_in %}
      <div style="position: relative; display: inline-block;">
        <div class="pfp-container">
          <img src="https://res.cloudinary.com/dd8qeiddj/image/upload/f_auto,q_auto/jor4nu520m4k7xf9z1v1" alt="pfp" class="pfp">
          <div class="dropdown">
            <div class="view_profile_btn">
              <a class="button primary" href="{{url_for('profile')}}">View Profile</a>
            </div>
            <br>
            <a href="{{url_for('logout')}}" class="alert button" >Logout</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if not logged_in %}
      <div class="sign_in_btn">
        <a class="button primary" href="{{url_for('login')}}" style="border-radius: 20px;">Sign In</a>
      </div>
      {% endif %}
    </div>
	</nav>
  <div class="game-container">
    <button id="button1" class="word-button" onclick="makeGuess(1)">
        <img id="image1" src="https://res.cloudinary.com/dd8qeiddj/image/upload/f_auto,q_auto/jor4nu520m4k7xf9z1v1" alt="Word 1" style="margin-bottom: 20px;">
        <div id="word1">Word 1</div>
        <div id="count1" class="search-count">Loading</div>
    </button>
    <button id="button2" class="word-button" onclick="makeGuess(2)">
        <img id="image2" src="https://res.cloudinary.com/dd8qeiddj/image/upload/f_auto,q_auto/jor4nu520m4k7xf9z1v1" alt="Word 2" style="margin-bottom: 20px;">
        <div id="word2">Word 2</div>
        <div id="count2" class="search-count">Loading</div>
    </button>
    {% if timerOn %}
      <h1 style="color: white" id="timerText">5<h1>
    {% endif %}
  </div>
  <script src="../static/js/game.js"></script>
  <script src="../static/js/timer.js"></script>
</body>
</html>
