<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/thub.css')}}"/>
    <title>Tournament Hub</title>
</head>
<body>
    <nav class="navbar">
        <div class="top-bar">
          <div class="top-bar-left">
            <a href="{{url_for('landing')}}">
              <img src="/static/UpoNah2.png" alt="logo" class="logo">
            </a>
          </div>
          {% if logged_in %}
          <div style="position: relative; display: inline-block;">
            <div class="pfp-container">
              <img src="https://res.cloudinary.com/dd8qeiddj/image/upload/f_auto,q_auto/jor4nu520m4k7xf9z1v1" alt="pfp" class="pfp">
              <div class="dropdown">
                <div class="view_profile_btn">
                  <a class="button primary" href="{{url_for('profile')}}">View Profile</a>
                </div>
                <br>
                <a href="{{url_for('logout')}}" class="alert button" >Logout</a>
              </div>
            </div>
          </div>
          {% endif %}
          {% if not logged_in %}
          <div class="sign_in_btn">
            <a class="button primary" href="{{url_for('login')}}" style="border-radius: 20px;">Sign In</a>
          </div>
          {% endif %}
        </div>
    </nav>

    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                <h1>Active Tournaments</h1>
                {% if logged_in %}
                <button class="button success" style="border-radius: 20px; margin-bottom: 30px;" data-open="createTournamentModal">Create Tournament</button>
                {% endif %}
            </div>

            {% for tournament in tournaments %}
            <div class="cell small-14 medium-8 large-6">
                <div class="callout">
                    <h3>{{ tournament[0] }}</h3>
                    <p>{{tournament[1]}}</p>
                    <p><strong>Contributer:</strong> {{ tournament[2]}} </p>
                    <p><strong>Created:</strong> Creation date</p>
                </div>
            </div>
            {% endfor %}

    </div>

    <div class="reveal" id="createTournamentModal" data-reveal>
        <h2>Create a Tournament</h2>
        <form id="tournamentForm" action="{{ url_for('tcreate') }}" method="POST" enctype="multipart/form-data">
            <label>
                Name of Tournament
                <input type="text" name="tournamentName" value="My Tournament" required>
            </label>
            <label>
                Description (optional)
                <textarea name="tournamentDescription" placeholder="Add a description..."></textarea>
            </label>
            <h3>Topics and Images</h3>
            <div id="topicsContainer">
            </div>
            <button type="button" class="button secondary" id="addTopic">Add Topic</button>
            <br><br>
            <button type="submit" class="button success">Submit</button>
            <button type="button" class="button alert" data-close>Cancel</button>
        </form>
        <button class="close-button" data-close aria-label="Close modal">&times;</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    <script src="../static/js/thub.js"></script>
</body>
</html>
